html {
  height: 100vh;
  width: 100vw;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
}

@keyframes para {
  100% {
    background-position: -5000px 20%, -800px 95%, 500px 50%, 1000px 100%,
      400px 0;
  }
}
body {
  font-family: "Open Sans", sans-serif;
  color: #333;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  gap: 2px;
  padding: 3px;
  overflow: hidden;
}
.section {
  flex: 2;
  border-radius: 0.5rem;
  padding: 2rem;
  display: flex;
  gap: 30px;
  height: 60vh;
}
img {
  display: block;
  margin-bottom: 1rem;
  height: 150px;
  width: calc(100% / 3 - 9px);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
#div1,
#div2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  flex: 1;
  min-height: 10rem;
  background-color: #fff8;
  border: 6px solid #1118;
  border-radius: 0.5rem;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow-y: scroll;
  overflow-x: hidden;
  gap: 10px;
}

.control {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.tick-overlay {
  position: fixed;
  display: none;
  top: 35%;
  right: 47%;
  width: 80px;
  height: 80px;
  background-image: url("./assets/tick.png");
  background-size: cover;
  opacity: 1;
  animation: tickFadeOut 2s linear forwards;
}

@keyframes tickFadeOut {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.mybutton {
  align-items: center;
  appearance: none;
  background-clip: padding-box;
  background-color: initial;
  background-image: none;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  flex-direction: row;
  flex-shrink: 0;
  font-family: Eina01, sans-serif;
  font-size: 16px;
  font-weight: 800;
  justify-content: center;
  line-height: 24px;
  margin: 0;
  min-height: 64px;
  outline: none;
  overflow: visible;
  padding: 19px 26px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: auto;
  word-break: keep-all;
  z-index: 0;
}

@media (min-width: 768px) {
  .mybutton {
    padding: 19px 32px;
  }
}

.mybutton:before,
.mybutton:after {
  border-radius: 80px;
}

.mybutton:before {
  background-image: linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -2;
}

.mybutton:after {
  background-color: initial;
  background-image: linear-gradient(#541a0f 0, #0c0d0d 100%);
  bottom: 4px;
  content: "";
  display: block;
  left: 4px;
  overflow: hidden;
  position: absolute;
  right: 4px;
  top: 4px;
  transition: all 100ms ease-out;
  z-index: -1;
}

.mybutton:hover:not(:disabled):before {
  background: linear-gradient(
    92.83deg,
    rgb(255, 116, 38) 0%,
    rgb(249, 58, 19) 100%
  );
}

.mybutton:hover:not(:disabled):after {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  transition-timing-function: ease-in;
  opacity: 0;
}

.mybutton:active:not(:disabled) {
  color: #ccc;
}

.mybutton:active:not(:disabled):before {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ),
    linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
}

.mybutton:active:not(:disabled):after {
  background-image: linear-gradient(#541a0f 0, #0c0d0d 100%);
  bottom: 4px;
  left: 4px;
  right: 4px;
  top: 4px;
}

.mybutton:disabled {
  cursor: default;
  opacity: 0.24;
}
